﻿.owl-carousel {
    display: block;
}

.questions-form input[type=submit] {
    display: block;
}

.umbraco-forms-field div label {
    display: inline-block !important;
}

input[type=submit].btn.primary {
    color: #fff;
    background-color: #dd2126;
    width: 300px;
    cursor: pointer;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.btn-primary {
    text-transform: uppercase;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    border-color: #cccccc;
    height: 140px;
    margin-bottom: 20px;
}

.float-left {
    float: left;   
}

.float-right {
    float: right;
}

.facilitor-page h1 {
    color: #636363;
    margin-bottom: 50px;
}

.facilitor-page h2 {
    color: #727272;
    font-size: 18px;
    margin-bottom: 14px;
}

.facilitor-page p {
    font-size: 14px;
    margin-bottom: 0;
}

.facilitor-page .question-form {
    margin-bottom: 10px;
}

ul li em {
    color: #dd2126;
}

.facilitor-page ul {
    padding-left: 0;
}

.facilitor-page label {
    text-align: left;
}

.facilitor-page a {
    text-decoration: underline;
    color: initial;
}

form.resend-login {
    display: inline;
}

form.resend-login input[type=submit] {
    border: none;
    font-size: 14px;
    padding: 0;
    width: auto;
    background-color: white;
    cursor: pointer;
    text-decoration: underline;
}

/** overrides */

/* 
    umbraco forms ajax validation don't work for hidden elements,
    so hide it by only placing it outside of the window.
*/
.questions-form input {
    display: block;
}

.modal-questions ul {
    padding-left: 0;
}

ul.record-form {
    list-style-type: square;
    padding-left: 18px;
}

.all-done-block button {
    text-transform: uppercase;
}

textarea{
    margin-top:8px;
}

.top-header {
    top: -20px;
}