﻿@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using Quiz3.Core.Controllers.Forms
@using Quiz3.Core.Services
@model Quiz3.Core.Models.Forms.ParticipantViewModel

@{
    var param = Request.QueryString["id"];
    if (param == null) { return; }
    
}

@using (Html.BeginUmbracoForm<ActiveParticipantSurfaceController>("Save", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.FirstName, new {placeholder = Html.DisplayNameFor(x => x.FirstName)})
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Lastname, new {placeholder = Html.DisplayNameFor(x => x.Lastname)})
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.EmailAddress, new {placeholder = Html.DisplayNameFor(x => x.EmailAddress)})
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="SessionId" value="@param"/>
                <input type="submit" class="btn-primary" />
            </td>
        </tr>
    </table>
}