﻿@using System.Web.UI.WebControls
@using Quiz3.Core.Controllers.Forms
@model Quiz3.Core.Models.Forms.SessionViewModel
    
@using (Html.BeginUmbracoForm<SessionSurfaceController>("Save", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Title, new { placeholder = @Html.DisplayNameFor(x => x.Title)})
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn-primary" value="Create Session" />
            </td>
        </tr>
    </table>
}