﻿@using Quiz3.Core.Models
@inherits UmbracoTemplatePage
@{
    var menu = Umbraco.TypedContentSingleAtXPath("//" + Quiz3.Core.Constants.ContentTypeAlias.FacilitorPage)
        .GetPropertyValue<IEnumerable<IPublishedContent>>("menu").Select(x => new PageModel(x));
}

<h1 style="font-size: 20px; line-height: 55px; color: #dd2126; border-color: #dd2126; margin-left: -15px; margin-right: 60px; margin-bottom: 0px;">Quick Links</h1>
<ul style="font-size: 14px; list-style-type: square; color: #dd2126">
@foreach (var m in menu)
{
    if (m.Name == "Login") { m.Name = "Logout"; }
    if (m.Name == "Facilitor") { m.Name = "Facilitator"; }
    <li><a href="@m.Url" style="text-decoration: none; color: #dd2126">@m.Name</a></li>
}
</ul>