﻿@using Quiz3.Core.Controllers.Forms

@using (Html.BeginUmbracoForm<AccountSurfaceController>("LogOut", FormMethod.Post, new { @class="home-form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <input class="btn btn-primary" type="submit" value="Logout" />
    </div>
}
