﻿@using Quiz3.Core.Controllers.Forms
@using Quiz3.Core.Services
@model Quiz3.Core.Models.Forms.LoginViewModel

@using (Html.BeginUmbracoForm<AccountSurfaceController>("Login", FormMethod.Post, new { @class="home-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-div">
        <label for="name">Username:</label>
        @Html.TextBoxFor(x => x.Username, new { placeholder = "Username" })
    </div>
    <div class="form-div">
        <label for="password">Password:</label>
        @Html.PasswordFor(x => x.Password, new {placeholder = "Password"})
    </div>
    <hr>
    <div>
        <button class="btn btn-primary">ENTER</button>
    </div>
}

