﻿@using Microsoft.AspNet.Identity
@using Quiz3.Core.Controllers.Forms
@using Quiz3.Core.Models.Forms
@using Umbraco.Forms.Data.Storage
@using Umbraco.Web.Security
@inherits UmbracoViewPage<Quiz3.Core.Models.Base.BasePageViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Shell</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    @*<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css" />*@

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
</head>

<body class="@(Model.Content.HasValue("paddingClass") ? Model.Content.GetPropertyValue("paddingClass") : "" )">

    @RenderBody()

    @if (Model.IsExitPageDocType)
    {

        var membershipHelper = new MembershipHelper(UmbracoContext.Current);
        var currentMemberId = membershipHelper.GetCurrentMemberId();

        var fs = new FormStorage();
        var rs = new RecordStorage();

        <div style="display: none">

        

        @foreach (var form in fs.GetAllForms())
        {

            if (form.Name != "Versatile" && form.Name != "Versatile" && form.Name != "Versatile")
            {


                <div id="@form.Name" class="modal-questions">
                    <h2>Review</h2>

                    <ul>
                    @{
                        var records = rs.GetAllRecords(form)
                            .Where(x => x.MemberKey == currentMemberId.ToString()).ToList();
                    }
                    @foreach (var record in records)
                    {
                        <li>
                            <ul class="record-form">
                            @foreach (var item in record.RecordFields)
                            {
                                if (item.Value.Field != null && item.Value.Field.Caption != "")
                                {
                                    <li>
                                        <p>@item.Value.Field.Caption <em>@item.Value.Values.FirstOrDefault()</em>
                                        </p>
                                    </li>
                                }
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </div>
            }
        }
        </div>
    }

    <script src="/js/jquery.selectric.js"></script>
    <script>
    $('select').selectric();
    </script>

    @if (Model.IsExitPageDocType)
    {
        <script src="/js/featherlight.js" type="text/javascript" charset="utf-8"></script>
    }

    @if (Model.RenderScriptTimer) {
    <script src="/js/moment.js"></script>
    
    <script>
      $(function(){
        function timer(settings){
          var config = {
              hours: $('#hours'),
              minutes: $('#minutes'),
              seconds: $('#seconds')
          };
          function prependZero(number){
              return number < 10 ? '0' + number : number;
          }
          $.extend(true, config, settings || {});

          var interval = 1000;
          
          var duration = "@Model.Timer";
          var intervalId = setInterval(function(){
              duration = moment.duration(duration - interval, 'milliseconds');
              var hours = duration.hours(),
                  minutes = duration.minutes(),
                  seconds = duration.seconds(),
                  days = duration.days();
              if(hours  <= 0 && minutes <= 0 && seconds  <= 0 && days <= 0){
                  clearInterval(intervalId);
                  //window.location.reload();
              }
              
              config.hours.text(prependZero(hours));
              config.minutes.text(prependZero(minutes));
              config.seconds.text(prependZero(seconds));
              
          }, interval);
        }
        
        timer();
      });
    </script>
    }

</body>

</html>



    
