﻿@using Quiz3.Core.Models.Forms
@inherits UmbracoViewPage<Quiz3.Core.Models.PageViewModel>
@{
	Layout = "_Layout.cshtml";
}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="facilitor-page">
                <div style="float:left;width:30%;">
                    @Html.Partial("_FacilitatorMenu")
                </div>
                <div style="float: right; width: 70%;">
                    <h1>Add Participant</h1>
                    @Html.Partial("_AddParticipant", new ParticipantViewModel())
                </div>
            </div>
        </div>
    </div>
</div>