﻿@using Quiz3.Core.Models.Items
@using umbraco.cms.businesslogic.member;
@using Umbraco.Core;
@using Umbraco.Core.Services
@using Umbraco.Forms.Data.Storage
@using System.Net.Mail;

@inherits UmbracoViewPage<Quiz3.Core.Models.ExitPageViewModel>
@{
    Layout = "_Layout.cshtml";


    //matt dirty hack to send email to participant - move to a controller if we get time...

    //create  name variable

    var names = Members.GetCurrentMember().Name.Split(' ');
    string firstName = "";
    if (names.Length > 0)
    {
        firstName = names[0];
    }

    var fs = new FormStorage();
    var rs = new RecordStorage();
    System.Text.StringBuilder str = new System.Text.StringBuilder();
    str.Append("<p>Dear " + firstName + "</p>");
    str.Append("<p>Thank you for completing the Quality Every Day workshop.  Below is a copy of your responses.</p>");


    var list = new List<String> { "Questionnaire", "Versatile", "Insightful", "Proactive", "Challenger", "Lift Pitch" };

    foreach (string name in list)
    {

        foreach (var form in fs.GetAllForms())
        {
            if (name == form.Name)
            {

                str.Append("<h2>" + form.Name + "</h2>");


                var records = rs.GetAllRecords(form)
                    .Where(x => x.MemberKey == Members.GetCurrentMember().Id.ToString()).ToList();

                foreach (var record in records)
                {
                    str.Append("<ul>");
                    foreach (var item in record.RecordFields)
                    {
                        if (item.Value.Field != null && item.Value.Field.Caption != "")
                        {
                            str.Append("<li><p>" + item.Value.Field.Caption + " <em>" + @item.Value.Values.FirstOrDefault() + "</em>");
                        }
                    }
                    str.Append("</ul>");
                }
            }
        }
    }

    str.Append("<p><strong>Thank You</strong></p>");
    MailMessage email = new MailMessage();
    email.IsBodyHtml = true;
    email.Subject = "Quality Every Day - Your Responses";
    email.Body = str.ToString();
    email.To.Add(Members.GetCurrentMember().GetPropertyValue<string>("Email"));
    email.Bcc.Add("matt@mchick.co.uk");
    SmtpClient client = new SmtpClient();
    client.Send(email);

}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn @(Model.BorderColor == BorderColor.Yellow ? "" : "leftcolumn-red")">
    </div>
    <div class="rightcolumn @(Model.BorderColor == BorderColor.Yellow ? "" : "rightcolumn-red" )">
        <div class="center-block-main-content @Model.BodyClass">

            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h1>@Model.Title</h1>
            }
            
            <div class="all-done-block">
               

                <p>@firstName, here's a summary of your answers, these will be emailed to you shortly.</p>
                <p>Click below to review what you submitted.</p>

                @{
                    var ctr = 0;

                    foreach (string name in list)
                    {
                        foreach (var form in Model.UmbracoForms)
                        {
                            if (name == form.Name)
                            {
                                    <div class="arrow-container"><img class="arrow inline-arrows" src="/imgs/right-arrow.svg" alt="arrow"/>
                                    </div>
                                    <button class="btn btn-@(ctr % 2 == 0 ? "secondary" : "third")" data-featherlight="#@form.Id">@form.Name</button>
                                    ctr++;
                            }
                        }

                    }
                    }
            </div>
            <hr />

        </div>
    </div>
</div>