﻿@using Quiz3.Core.Controllers.Forms
@using Quiz3.Core.Helpers
@using Quiz3.Core.Services
@inherits UmbracoViewPage<Quiz3.Core.Models.PageViewModel>
@{
	Layout = "_Layout.cshtml";
}

@{
    var param = Request.QueryString["id"];
    if (param == null) { return; }

    var memberService = ApplicationContext.Services.MemberService;
    var sessionService = new SessionService();
    var activeparticipantService = new ActiveParticipantService();
    var session = sessionService.Get(int.Parse(param), memberService.GetByUsername(User.Identity.Name).Id);
    var members = activeparticipantService.GetAllForSession(session.Id);
}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="facilitor-page">
                <div style="float: left; width: 30%;">
                    @Html.Partial("_FacilitatorMenu")
                </div>
                <div style="float: right; width: 70%;">

                    <h1>@session.Title</h1>
                    <span><strong>@TempData["message"]</strong></span>
                    <ul>
                        @foreach (var member in members)
                        {
                            var m = memberService.GetById(member.MemberId);
                            if (m != null)
                            {
                                // member might deleted from umbraco member section but not on active participant table.
                                <li style="padding-bottom:10px;">
                                    <a href="/facilitor/participant?id=@m.Id">@m.Name (@m.Email)</a>
                                    @using (Html.BeginUmbracoForm<AccountSurfaceController>("ResendLogin", FormMethod.Post, new { @class = "resend-login" }))
                                    {
                                        <input type="hidden" value="@m.Id" name="memberId"/>
                                        <input type="hidden" name="sessionId" value="@session.Id" />
                                        <input type="submit" value="Resend Login Details" style="color:#dd2126; text-decoration:none" />
                                    }
                                    @using (Html.BeginUmbracoForm<ActiveParticipantSurfaceController>("Delete", FormMethod.Post, new { @class = "resend-login" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="memberId" value="@m.Id"/>
                                        <input type="hidden" name="sessionId" value="@session.Id" />
                                        <input type="submit" value="Delete" style="color:#dd2126; text-decoration:none" />
                                    }
                                </li>
                            }
                        }
                    </ul>

                    <div class="form-div">
                        <button class="btn btn-primary" onclick="window.location.href = '/facilitor/add-participant/?id=@session.Id' " style="float: left;">Add Participant</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
