﻿@using Umbraco.Forms.Data.Storage
@inherits UmbracoViewPage<Quiz3.Core.Models.PageViewModel>
@{
    Layout = "_Layout.cshtml";

    var fs = new FormStorage();
    var forms = fs.GetAllForms();
}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="facilitor-page">
                <div style="float:left;width:30%;">
                    @Html.Partial("_FacilitatorMenu")
                </div>
                <div style="float: right; width: 70%;">
                    <h1>Responses</h1>
                    <ul>

                        @{ 
                            var list = new List<String> { "Questionnaire", "Versatile", "Insightful", "Proactive", "Challenger", "Lift Pitch" };
                            foreach (string name in list)
                            {
                                foreach (var form in forms)
                                {
                                    if (form.Name == name)
                                    {
                                        <li style="padding-bottom:2px;"><a href="/facilitor/view-session/session/view-responses/form?id=@(form.Id)&sessionId=@Request.QueryString["id"]">@form.Name</a></li>
                                        }
                                    }
                                }
                            }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


