﻿@inherits UmbracoViewPage<Quiz3.Core.Models.FacilitorPageViewModel>
@{
    Layout = "_Layout.cshtml";
}


<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
      <div class="facilitor-page">
        <div class="center-block-main-content">
            <h1>Manage Sessions</h1>
                    <div class="form-div">
                        <button class="btn btn-primary" onclick="window.location.href = '/facilitor/create-session/' ">Create Session</button>
                    </div>
                    <div class="form-div">
                        <button class="btn btn-primary" onclick="window.location.href = '/facilitor/view-session/' ">View Session</button>
                    </div>

                </div>
        </div>
    </div>
</div>

