﻿@using Quiz3.Core.Helpers
@using Quiz3.Core.Models.Forms
@using Quiz3.Core.Services
@inherits UmbracoViewPage<Quiz3.Core.Models.PageViewModel>
@{
    Layout = "_Layout.cshtml";

    
    var ms = ApplicationContext.Services.MemberService;
    var member = ms.GetByUsername(User.Identity.Name);

    var sessionService = new SessionService();
    var sessions = sessionService.GetAllForFacilitator(member.Id);

}


<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="facilitor-page">
                <div style="float:left;width:30%;">
                    @Html.Partial("_FacilitatorMenu")
                </div>
                <div style="float: right; width: 70%;">
                    <h1>Sessions</h1>
                    <ul>
                        @foreach (var session in sessions)
                        {
                            <li><a href="/facilitor/view-session/session?id=@session.Id">@session.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


