﻿@using MySql.Data.MySqlClient.Replication
@using Quiz3.Core.Services
@using Umbraco.Forms.Data.Storage
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Quiz3.Core.Models.PageViewModel>
@{
    Layout = "_Layout.cshtml";

    var formId = Request.QueryString["id"];
    var sessionId = int.Parse(Request.QueryString["sessionId"]);
    if (formId == null) { return; }

    var ms = ApplicationContext.Services.MemberService;

    var rs = new RecordStorage();
    var fs = new FormStorage();
    var form = fs.GetForm(new Guid(formId));

    var activeParticipantService = new ActiveParticipantService();

    // TODO: check if sessionId belongs to facilitor.
    
    var members = activeParticipantService.GetAllForSession(sessionId);
    
}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="facilitor-page">
                <div style="float:left;width:30%;">
                    @Html.Partial("_FacilitatorMenu")
                </div>
                <div style="float: right; width: 70%;">
                    <h1>@form.Name</h1>
                    <ul>
                        @foreach (var member in members)
                        {
                            var m = ms.GetById(member.MemberId);
                            if (m != null)
                            {
                                <li style="padding-bottom:10px;">
                                    <h2>@m.Name</h2>
                                    @{
                                        var record = rs.GetAllRecords(form)
                                            .FirstOrDefault(x => x.MemberKey == m.Id.ToString());
                                    }
                                    @if(record != null) {
                                        <ul style="list-style-type: square; padding-left: 16px;">
                                             @foreach (var item in record.RecordFields)
                                             {
                                                 if (item.Value.Field != null && item.Value.Field.Caption != "")
                                                 {
                                                    <li>
                                                        <p>
                                                            @item.Value.Field.Caption <em>@item.Value.Values.FirstOrDefault()</em>
                                                        </p>
                                                    </li>
                                                 }
                                             }
                                        </ul>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
