﻿@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Quiz3.Core.Helpers
@using Quiz3.Core.Models.Items
@inherits UmbracoViewPage<Quiz3.Core.Models.GenericPageViewModel>
@{
	Layout = "_Layout.cshtml";
}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon"/>
    <div class="top-logo">

        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive"/>
        }
    </div>
    
</header>
<div class="container">
    <div class="leftcolumn @(Model.BorderColor == BorderColor.Yellow ? "" : "leftcolumn-red")">
    </div>
    <div class="rightcolumn @(Model.BorderColor == BorderColor.Yellow ? "" : "rightcolumn-red" )">
        <div class="center-block-main-content @Model.BodyClass">
            
            @if (Model.IsFacilitator)
            {
                <a href="@Umbraco.TypedContentSingleAtXPath("//" + Quiz3.Core.Constants.ContentTypeAlias.FacilitorPage).Url" style="float:right; color:#dd2126;">Return to admin</a>
            }

            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h1>@Model.Title</h1>
            }
            @Html.Raw(Model.Body)

            @if (Model.RenderScriptTimer)
            {
                <div class="clock-wrapper">
                    <div class="clock">
                        <div class="column">
                            <div class="timer" id="minutes"></div>
                            <div class="text">MINUTES</div>
                        </div>
                        <div class="timer">:</div>
                        <div class="column">
                            <div class="timer" id="seconds"></div>
                            <div class="text">SECONDS</div>
                        </div>
                    </div>
                </div>
            }


            @if (Model.TestInformationImage != null)
            {
                <img src="@Model.TestInformationImage.Url" alt="@Model.TestInformationImage.Name" class="img-responsive one-hour-logo"/>
                <hr>
            }

            else if (!string.IsNullOrEmpty(Model.TestTimeLimit) || !string.IsNullOrEmpty(Model.TestInformationText))
            {
                <div class="one-hour-logo">
                    <div class="one-hour-logo-left">
                        <img src="/imgs/clock-img.jpg" alt="clock">
                    </div>
                    <div class="one-hour-logo-right">
                        <span>@Model.TestTimeLimit</span>
                    </div>
                    <div class="one-hour-logo-pitch">
                        <p>@Model.TestInformationText</p>
                    </div>
                </div>
                <hr>
            }

            @if (Model.IsMemberSignedUpTheFormAlready)
            {
                <span>You have filled up this form already.</span>
                if (Model.ActionButtonLink != null)
                {
                    <br/><br/><span>Click <a href="@Model.ActionButtonLink.Url">next</a> to proceed.</span>
                }
                <br/>
                <br/>
            }


            @if (!Model.HasForm && !Model.IsMemberSignedUpTheFormAlready)
            {
                if (Model.ActionButtonLink != null)
                {
                    <button class="btn btn-primary" onclick=" window.location.href = '@Model.ActionButtonLink.Url' ">@Model.ActionButtonTitle</button>
                }
            }

            @if (Model.HasForm && !Model.IsMemberSignedUpTheFormAlready)
            {
                @Html.Raw(Model.FormIntroduction)
                if (!string.IsNullOrEmpty(Model.FormIntroduction))
                {
                    <hr/>
                }


                @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid = @Model.Form, FormTheme = "custom", ExcludeScripts = "0"})


            }
        </div>
    </div>
</div>


@if (Model.IsFacilitator) {
<script type="text/javascript">
    $(function() {
        $(".formBtnSubmit").click(function (e) {
            e.preventDefault();
            window.location.href = "@Model.ActionButtonLink.Url";
        });
    });
</script>
}

