﻿@using Microsoft.AspNet.Identity
@using Quiz3.Core.Controllers.Forms
@using Quiz3.Core.Models.Forms
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
</header>
<div class="container">
    <div class="banner">
        <div class="banner-inner">
            <p><strong>Raising awarness</strong> and <strong>engagement</strong> of the Quality team and how we add value in Shell</p>
        </div>
    </div>
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="top-logo">
                <img src="/media/1007/top_right_logo.svg" alt="quality" class="img-responsive"/>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Logout")
            }
            else
            {
                @Html.Partial("_Login", new LoginViewModel())
            }

            </div>
        </div>
    </div>