﻿@using Umbraco.Forms.Data.Storage
@inherits UmbracoViewPage<Quiz3.Core.Models.PageViewModel>
@{
    Layout = "_Layout.cshtml";

    var param = Request.QueryString["id"];
    if (param == null) {return;}
    var memberId = int.Parse(param);

    var fs = new FormStorage();
    var rs = new RecordStorage();

    var forms = fs.GetAllForms();

    List<Umbraco.Forms.Core.Record> allRecords = new List<Umbraco.Forms.Core.Record>();

    allRecords = forms.SelectMany(form => rs.GetAllRecords(form)).Where(x => x.MemberKey == memberId.ToString()).ToList();

    // TODO: Implement filter
    //if (model.HasFilter)
    //{
    //    allRecords = allRecords.Where(x => x.Created >= DateTime.Now.AddHours(model.EntryFilterByHours * -1));
    //}

}
<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="facilitor-page">
                <div style="float:left;width:30%;">
                    @Html.Partial("_FacilitatorMenu")
                </div>
                <div style="float: right; width: 70%;">

                    @if (allRecords.Any())
                    {
                        <ul>
                            @foreach (var form in allRecords.GroupBy(g => g.Form)
                                .Select(records => new {records.Key, records}).ToList())
                            {
                                <li class="question-form">
                                    <h2>@fs.GetForm(form.Key).Name</h2>
                                    <ul>
                                        @{
                                            var record = form.records.OrderByDescending(x => x.Created).FirstOrDefault();
                                            if (record != null)
                                            {
                                                <li>
                                                    <ul class="record-form">
                                                        @foreach (var item in record.RecordFields)
                                                        {
                                                            if (item.Value.Field != null && item.Value.Field.Caption != "")
                                                            {
                                                                <li>
                                                                    <p>
                                                                        @item.Value.Field.Caption <em>@item.Value.Values.FirstOrDefault()</em>
                                                                    </p>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            </ul>
                        } else
                        {
                            <p>No responses yet</p>
                        }
                </div>
            </div>
        </div>
    </div>
</div>
