﻿@using System.Runtime.InteropServices
@using Quiz3.Core.Controllers.Forms
@using Quiz3.Core.Services
@using Umbraco.Core.Services
@inherits UmbracoViewPage<Quiz3.Core.Models.PageViewModel>
@{
    Layout = "_Layout.cshtml";
}

<header>
    <img src="/imgs/q_icon.jpg" alt="icon" class="img-responsive q-icon" />
    <div class="top-logo">
        @if (Model.Logo != null)
        {
            <img src="@Model.Logo.Url" alt="logo" class="img-responsive" />
        }
    </div>
</header>
<div class="container">
    <div class="leftcolumn">
    </div>
    <div class="rightcolumn">
        <div class="center-block-main-content">
            <div class="facilitor-page">
                <div style="float: left; width: 30%;">
                    @Html.Partial("_FacilitatorMenu")
                </div>
                <div style="float: right; width: 70%;">
                    <h1>Session Options</h1>
                    <a href="/facilitor/view-session/session/manage-participants?id=@Request.QueryString["id"]">Manage Participants</a><br/>
                    <a href="/facilitor/view-session/session/view-responses?id=@Request.QueryString["id"]">View Responses</a><br/>
                </div>
            </div>
        </div>
    </div>
</div>
