@model Umbraco.Forms.Mvc.Models.FieldViewModel  
@using Umbraco.Forms.Mvc
  
@{ var i = 0; }
   
<div class="@Html.GetFormFieldClass(Model.FieldTypeName)  radiobuttonlist" id="@Model.Id">
@foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)
{
    <div class="input-holder">
        @*<input type="radio" name="radio1" id="radio1">
        <label for="radio1"></label>
        <span>Extremely Important</span>*@
        
        <input type="radio" style="position: absolute; left: -9999px;" name="@Model.Id" id="@string.Concat(Model.Id,"_",i)" value="@pv.Value"
               @if (Model.Mandatory) { <text> data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage" </text> }
               @if (Model.ContainsValue(pv.Value)) { <text> checked="checked" </text> } />
        <label for="@string.Concat(Model.Id, "_", i)"></label>
        <span>@pv.Value</span>
    </div>
    
    
    i++;
}
</div>