@inherits WebViewPage<FormViewModel>
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic


@{ 
    // here we load in the needed default assets for the form
    // this means that 3rd party themes can override these by implementing their own form.cshtml file
    //it will simply hook into standard way forms load assets
    if (Model.DisableDefaultStylesheet == false)
    {
        Html.SetFormThemeCssFile(Model, "~/App_Plugins/UmbracoForms/Assets/Themes/Default/style.css");
    }
}


<div class="owl-carousel owl-theme">

    @if (string.IsNullOrEmpty(Model.CurrentPage.Caption) == false)
    {
        @*<h4 class="umbraco-forms-caption">@Html.Raw(Model.CurrentPage.Caption)</h4>*@
        @Html.Raw(Model.CurrentPage.Caption)
    }

    @if (Model.ShowValidationSummary)
    {
        @Html.ValidationSummary(false)
    }


    @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
    {
        <div class="item">
            <fieldset class="umbraco-forms-fieldset" id="@fs.Id">

                @if (string.IsNullOrEmpty(fs.Caption) == false)
                {
                    <legend>@fs.Caption</legend>
                }

                <div class="row-fluid">

                    @foreach (var c in fs.Containers)
                    {
                        <div class="umbraco-forms-container @("col-md-" + c.Width)">

                            @foreach (FieldViewModel f in c.Fields)
                            {
                                bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;

                                <div class="questions-form-row @Html.GetFormFieldWrapperClass(f.FieldTypeName) @f.CssClass" @{
                                                                                                             if (hidden)
                                                                                                             {
                                                                                                                 <text> style="display: none" </text>
                                                                                                             }
                                                                                                         }>

                                

                                    @if (!f.HideLabel)
                                    {
                                        <p class="color-red">
                                            <img src="/imgs/right-arrow.svg" alt="arrow" class="arrow">
                                            
                                                @f.Caption @if (f.ShowIndicator)
                                                           {
                                                               <span class="umbraco-forms-indicator">@Model.Indicator</span>
                                                           }
                                            
                                        </p>

                                    }

                                    @if (!string.IsNullOrEmpty(f.ToolTip))
                                    {
                                        <span class="umbraco-forms-tooltip help-block">@f.ToolTip</span>
                                    }

                                    @*<div class="umbraco-forms-field-wrapper">*@

                                        @Html.Partial(FormThemeResolver.GetFieldView(Model, f), f)

                                        @if (Model.ShowFieldValidaton)
                                        {
                                            @Html.ValidationMessage(f.Id)
                                        }

                                    @*</div>*@

                                </div>
                            }

                        </div>
                    }
                </div>
            </fieldset>
        </div>
    }

    <div style="display: none">
        <input type="text" name="@Model.FormId.ToString().Replace("-", "")" />
    </div>


    <div class="umbraco-forms-navigation row-fluid">

        <div class="col-md-12">
            @if (Model.IsMultiPage)
            {
                if (!Model.IsFirstPage)
                {
                    <input 
                          class="btn prev cancel float-left" 
                          type="submit" 
                          value="@Model.PreviousCaption" 
                          name="__prev" />
                }

                if (!Model.IsLastPage)
                {
                    <input type="submit" 
                           class="btn next float-right" 
                           value="@Model.NextCaption" 
                           name="__next" />
                }

                if (Model.IsLastPage)
                {
                    <input type="submit" 
                           class="btn primary float-right formBtnSubmit" 
                           value="@Model.SubmitCaption" 
                           name="__next" />
                }
            }
            else
            {
                <input type="submit" 
                       class="btn primary formBtnSubmit" 
                       value="@Model.SubmitCaption" 
                       name="__next" />
            }
        </div>
    </div>
</div>